
<h1>Welcome to Registration Page</h1>
<h2>Please register your self to my system</h2>


First Name : <input id="fnInput" name="fnInput" type="text" [(ngModel)]="person.firstName">
<br />
Last Name : <input id="lnInput" name="lnInput" type="text" [(ngModel)]="person.lastName">
<br />
Age : <mat-slider min="1" max="100" step="1" value="1" [(ngModel)]="person.age"></mat-slider>
<!--<input id="ageInput" name="ageInput" type="number" [(ngModel)]="person.age">-->
<br />
Mobile Number : <input id="mnInput" name="mnInput" type="text" [(ngModel)]="person.mobileNumber">
<br />
description : <input id="descInput" name="descInput" type="text" [(ngModel)]="person.description">

<br />
<br />

birth date :
<dp-date-picker
  dir="rtl"
  [(ngModel)]="person.birthDate"
  mode="day"
  placeholder="تاریخ"
  theme="dp-material">
</dp-date-picker>

<br />
<br />

education :
<p-dropdown [options]="educations" [(ngModel)]="person.education" optionLabel="name"></p-dropdown>

<br />
<br />

<input type="button" value="Register" (click)="register()" />
<br />
{{message}}

