<!--<h1>Hello Students</h1>-->

<!--<h2>Here is a angular learning class...</h2>-->

<!--<h3>our project name is : {{title}}</h3>-->

<!--<input type="text" id="input1" name="input1" [(ngModel)]="title">-->

<!--<input type="button" id="button1" name="button1" value="Click !" (click)="increaseClickCount()" >-->
<!--<br />-->
<!--<div class="blueText"> {{clickCount}} </div>-->
<!--Hello My Component-->
<router-outlet></router-outlet>
<!--<app-login></app-login>-->
