
<h1>Please login to continue...</h1>

username :
<input [(ngModel)]="username" type="text" />
<br />
password :
<input [(ngModel)]="password" type="password"/> {{password}}
<br />
<button type="button" (click)="doLogin()">login</button>
<br />
<a href="./forget-password" >فراموشی کلمه عبور</a>
