<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

  <label>
    Name:
    <input type="text" formControlName="name" required>
  </label>
  <br/>
  <label>
    Name 2:
    <input type="text" formControlName="name2" >
  </label>
  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>
